:root {
  --main-bg-color: #121212;
  --card-bg-color: #1e1e1e;
  --navbar-bg-color: #363636;
  --text-muted-color: #9c9a98;
  --text-color: #f8f9fa;
}

body {
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  background-color: var(--main-bg-color);
  /* font-family: 'PT Sans', sans-serif; */
  width: 100%;
  height: 100%;
}

/* Overwrite Bootstrap classes */

.text-light {
  color: var(--text-color) !important;
}

.text-muted {
  color: var(--text-muted-color) !important;
}

.img-thumbnail {
  background-color: unset;
}

.card {
  color: var(--text-color);
  background-color: var(--card-bg-color);
}

.accordion-button::after {
  background-color: var(--navbar-bg-color) !important;
  border-radius: 50%;
}

.list-group-item {
  color: var(--text-color);
  background-color: #212529 !important;
  border-color: var(--main-bg-color);
  padding: 1rem;
}

.navbar-dark {
  background-color: var(--navbar-bg-color) !important;
}

/* Pseudo-Bootstrap utility classes */
.fs-sm {
  font-size: 0.875rem;
}

.fs-smaller {
  font-size: smaller;
}

.mw-66 {
  max-width: 66.6%;
}

/* Component classes */

.App {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.btn-back {
  cursor: pointer;
  position: absolute;
  top: -3.2rem;
  left: 0;
  width: fit-content;
  z-index: 1010;
  font-size: 2rem;
  transition: color 0.15 ease-in-out;
}

.btn-back:hover,
.btn-back:focus {
  color: #fff !important;
}

.confirm-modal,
.tip-modal {
  top: 10%;
}

.confirm-modal-overlay,
.tip-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1040;
}

.confirm-modal-content,
.tip-modal-content {
  color: var(--text-color);
  background-color: var(--card-bg-color);
}

.content-editor {
  padding: 0 0.75rem;
  color: var(--text-color);
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem;
}

.currency-label {
  min-width: fit-content;
}

.faq-item-answer {
  background-color: var(--navbar-bg-color) !important;
}

.faq-item-answer ul {
  padding-left: 1rem;
}

.faq-item-answer li {
  font-size: 0.825rem;
}

.rdw-editor-toolbar {
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem !important;
  border: none !important;
}

.rdw-dropdown-selectedtext,
.rdw-dropdown-selectedtext a {
  color: #212529 !important;
  text-decoration: none;
}

.rdw-dropdown-wrapper {
  color: var(--text-color);
}

.rdw-dropdown-optionwrapper {
  background-color: var(--navbar-bg-color) !important;
}

.rdw-dropdownoption-active {
  color: #212529 !important;
}

.rdw-dropdownoption-highlighted {
  color: #212529 !important;
}

.rdw-block-dropdown,
.rdw-fontfamily-dropdown {
  width: 5rem !important;
}

.rdw-block-dropdown .rdw-dropdown-optionwrapper {
  overflow-y: unset !important;
}

.rdw-fontsize-dropdown {
  min-width: 3.5rem !important;
}

.rdw-fontfamily-optionwrapper {
  overflow-y: unset !important;
}

/* .rdw-editor-main {
  min-height: 7rem;
  border-radius: 0.25rem;
} */

.rdw-link-modal,
.rdw-embedded-modal,
.rdw-image-modal,
.rdw-emoji-modal,
.rdw-colorpicker-modal {
  width: unset !important;
  height: unset !important;
  color: #fff;
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
}

.rdw-image-modal,
.rdw-emoji-modal,
.rdw-colorpicker-modal {
  width: 15rem !important;
}

.rdw-colorpicker-modal-options {
  overflow: unset !important;
}

.rdw-link-modal-label {
  box-shadow: none !important;
}

/* .rdw-link-modal-target-option {
  margin-bottom: unset !important;
} */

.rdw-emoji-modal {
  height: 15rem !important;
}

.rdw-image-modal {
  width: 20rem !important;
}

.rdw-image-imagewrapper {
  color: #212529 !important;
}

.rdw-image-alignment-options-popup {
  background-color: var(--card-bg-color) !important;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-content img {
  max-width: fit-content;
  padding: 0.5rem 0;
}

.signin-btn-wrapper {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.tip-amount-input {
  width: 5rem;
}

.trans-number {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#userDropdown {
  color: #ffffff8c;
  text-decoration: none;
}

.userDropdownMenu.dropdown-menu {
  left: unset !important;
  right: 0 !important;
}

.userDropdownMenu.dropdown-menu > .dropdown-item {
  font-size: smaller !important;
}

@media screen and (max-width: 410px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 75%;
  }

  .faq-item-header {
    font-size: 1.175rem;
  }

  .faq-item-answer li {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 66%;
  }
}

@media screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 768px;
  }
}
