:root {
  --main-bg-color: #121212;
  --card-bg-color: #1e1e1e;
  --navbar-bg-color: #363636;
  --text-muted-color: #9c9a98;
  --text-color: #f8f9fa;
}

body {
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  background-color: var(--main-bg-color);
  /* font-family: 'PT Sans', sans-serif; */
  height: 100%;
}

.accordion-button::after {
  background-color: var(--navbar-bg-color) !important;
  border-radius: 50%;
}

.App {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.btn-back {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  left: 1rem;
  z-index: 1010;
  font-size: 2rem;
  transition: color 0.15 ease-in-out;
}

.btn-back:hover,
.btn-back:focus {
  color: #fff !important;
}

.btn-clear-inline {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.25rem;
  z-index: 1010;
  color: var(--text-muted-color);
}

.btn-clear-inline:hover,
.btn-clear-inline:focus {
  color: #212529;
}

.card {
  color: var(--text-color);
  background-color: var(--card-bg-color);
}

.confirm-modal {
  top: 10%;
}

.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1040;
}

.confirm-modal-content {
  color: var(--text-color);
  background-color: var(--card-bg-color);
}

.content-editor {
  min-height: 7rem;
  padding: 0 0.75rem;
  color: var(--text-color);
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem;
}

.faq-item-answer {
  background-color: var(--navbar-bg-color) !important;
}

.rdw-editor-toolbar {
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem !important;
  border: none !important;
}

.rdw-dropdown-selectedtext,
.rdw-dropdown-selectedtext a {
  color: #212529 !important;
  text-decoration: none;
}

.rdw-dropdown-wrapper {
  color: var(--text-color);
}

.rdw-dropdown-optionwrapper {
  background-color: var(--navbar-bg-color) !important;
}

.rdw-dropdownoption-active {
  color: #212529 !important;
}

.rdw-dropdownoption-highlighted {
  color: #212529 !important;
}

.rdw-block-dropdown .rdw-dropdown-optionwrapper {
  overflow-y: unset !important;
}

.rdw-fontsize-dropdown {
  min-width: 3.5rem !important;
}

.rdw-fontfamily-optionwrapper {
  overflow-y: unset !important;
}

/* .rdw-editor-main {
  min-height: 7rem;
  border-radius: 0.25rem;
} */

.rdw-link-modal,
.rdw-embedded-modal,
.rdw-image-modal,
.rdw-emoji-modal,
.rdw-colorpicker-modal {
  width: unset !important;
  height: unset !important;
  color: #fff;
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
}

.rdw-image-modal,
.rdw-emoji-modal,
.rdw-colorpicker-modal {
  width: 15rem !important;
}

.rdw-colorpicker-modal-options {
  overflow: unset !important;
}

.rdw-link-modal-label {
  box-shadow: none !important;
}

/* .rdw-link-modal-target-option {
  margin-bottom: unset !important;
} */

.rdw-emoji-modal {
  height: 15rem !important;
}

.rdw-image-modal {
  width: 20rem !important;
}

.rdw-image-imagewrapper {
  color: #212529 !important;
}

.rdw-image-alignment-options-popup {
  background-color: var(--card-bg-color) !important;
}

.fs-smaller {
  font-size: smaller;
}

.img-thumbnail {
  background-color: unset;
}

.list-group-item {
  color: var(--text-color);
  background-color: var(--card-bg-color);
  border-color: var(--main-bg-color);
  padding: 1rem;
}

.navbar-dark {
  background-color: var(--navbar-bg-color) !important;
}
.post-content {
  display: flex;
  flex-direction: column;
}

.post-content img {
  max-width: fit-content;
  padding: 0.5rem 0;
}

.text-light {
  color: var(--text-color) !important;
}

.text-muted {
  color: var(--text-muted-color) !important;
}
