/* Component classes */

.app {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.btn-back {
  cursor: pointer;
  position: absolute;
  top: -3.2rem;
  left: 0;
  width: fit-content;
  z-index: 1010;
  font-size: 2rem;
  transition: color 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: #fff !important;
  }
}

.confirm-modal,
.tip-modal {
  top: 10%;

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1040;
  }

  &-content {
    color: var(--text-color);
    background-color: var(--card-bg-color);
  }
}

.content-editor {
  padding: 0 0.75rem;
  color: var(--text-color);
  background-color: var(--navbar-bg-color) !important;
  border-radius: 0.25rem;
}

.currency-label {
  min-width: fit-content;
}

.faq-item-answer {
  background-color: var(--navbar-bg-color) !important;

  ul {
    padding-left: 1rem;

    li {
      font-size: 0.825rem;
    }
  }
}

.not-found {
  &-icon {
    font-size: 6rem;
    font-weight: lighter;
  }

  &-header {
    text-transform: uppercase;
    color: var(--text-color) !important;
    margin: 0.5rem auto 1.5rem;
  }

  &-text {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
  }
}

.home-button {
  min-width: 10rem;
  margin-top: 2.5rem;
}

.post-content {
  display: flex;
  flex-direction: column;

  img {
    max-width: fit-content;
    padding: 0.5rem 0;
  }
}

.signin-btn-wrapper {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.tip-amount-input {
  text-align: center;
  width: 3rem;
}

.trans-number {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#userDropdown {
  color: #ffffff8c;
  text-decoration: none;
}

.userDropdownMenu.dropdown-menu {
  left: unset !important;
  right: 0 !important;

  > .dropdown-item {
    font-size: smaller !important;
  }
}

@media screen and (min-width: 576px) {
  .tip-amount-input {
    width: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 75%;
  }

  .faq-item-header {
    font-size: 1.175rem;
  }

  .faq-item-answer li {
    font-size: 1rem;
  }

  .tip-amount-input {
    width: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 66%;
  }
}

@media screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 768px;
  }
}
